#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3{
  margin-block-end: 3rem;
}

.week-block {
  display: flex;
  align-items: center;
  margin-block-end: 1rem;
}
.week-num{
  margin-inline-end: 2rem;
}

.day-block {
  display: flex;
  flex-direction: column;
  width: 3rem;
  padding: .5rem;
  border: 1px solid grey;
}

.day-block:not(:last-child){
  margin-right: .5rem;
}

.day-block:hover{
  cursor: pointer;
}

.selected{
  background-color: green;
  color: white;
}
