#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.header{
  display: flex;

}

.select-user{
  width:10rem;
  margin-inline-start: 2rem;
  margin-inline-end: 6rem;
}

.availability-section{
  margin-block-start: 5rem;
  text-align: center;
}

h3{
  margin-block-end: 3rem;
  color: #EF7239;
}

.week-block {
  display: flex;
  align-items: center;
  margin-block-end: 1rem;
}
.week-num{
  margin-inline-end: 2rem;
}

.day-block {
  display: flex;
  flex-direction: column;
  width: 3rem;
  padding: .5rem;
  border: 1px solid grey;
  background-color: rgb(221, 233, 221);
}

.day-block:not(:last-child){
  margin-right: .5rem;
}

.day-block:hover{
  cursor: pointer;
}
.disabled{
  pointer-events: none;
  opacity:.5;
}
.week-header > .day-block{
  pointer-events: none;
  border-color:  #EF7239;
  background-color: white;
  color: #EF7239;
}

.selected{
  background-color: #1F556B;
  color: white;
}

.save{
  background-color: #EF7239;
  color: white;
}